<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .rem{
            font-size: 62.5%;
        }
        .rem li{
            font-size: 1.9rem;
        }
        @media (max-width:32rem){
            .rem{
                font-size: 55%;
            }
        }
        .per{
            font-size: 50%;
        }
      </style>
</head>
<body>
        <div class="rem">
                <ul>
                    <li>Drinks (30px)
                        <ul>
                            <li class="li1">Tea (60px)
                                <ul>
                                    <li>Black tea (120px)</li>
                                    <li>Green tea (120px)</li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
        </div>
        <div class="per">
            <ul>
                <li>Drinks (30px)
                    <ul>
                        <li class="li1">Tea (60px)
                            <ul>
                                <li>Black tea (120px)</li>
                                <li>Green tea (120px)</li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
    </div>
</body>
</html>